  
  @import 'variables.scss';

@font-face {
    font-family: 'QlassikBoldRegular';
    src: url($font-QlassikBoldRegular-base-path +'.eot');
    src: url($font-QlassikBoldRegular-base-path +'.eot?#iefix') format("embedded-opentype"),
    url($font-QlassikBoldRegular-base-path +'.woff') format("woff"), 
    url($font-QlassikBoldRegular-base-path +'.ttf') format("truetype"), 
    url($font-QlassikBoldRegular-base-path +'.svg#QlassikBoldRegular') format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Nob';
    src: url($font-base-path+'/font/nobile.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Helv';
    src: url($font-base-path+'/font/helveticaneueltstd-mdcn.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Helv1';
    src: url($font-base-path+'/font/HelveticaNeueLTStd-Cn.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'myr';
    src: url($font-base-path+'/font/MyriadPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'myr1';
    src: url($font-base-path+'/font/MyriadPro-Light.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'myr2';
    src: url($font-base-path+'/font/MyriadPro-Cond.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'hhe';
    src: url($font-base-path+'/font/HelveticaNeueLTStd-Cn.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'wal';
    src: url($font-base-path+'/font/Walkway UltraBold.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'rub';
    src: url($font-base-path+'/font/ufonts.com_a_rubricacn_bold.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'mys';
    src: url($font-base-path+'/font/MyriadSetPro-Bold.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'mys1';
    src: url($font-base-path+'/font/MyriadSetPro-Thin.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'mys2';
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'mys5';
    src: url($font-base-path+'/font/MyriadSetPro-UltraLight.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'sag';
    src: url($font-base-path+'/font/spaceage.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'm1';
    src: url($font-base-path+'/font/MYRIAABI.TTF');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'm2';
    src: url($font-base-path+'/font/MYRIAAMI.TTF');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'm3';
    src: url($font-base-path+'/font/MYRIAASI.TTF');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'm4';
    src: url($font-base-path+'/font/MYRIAATI.TTF');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'm5';
    src: url($font-base-path+'/font/MYRIADAB.TTF');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'm6';
    src: url($font-base-path+'/font/MYRIADAM.TTF');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'm7';
    src: url($font-base-path+'/font/MYRIADAS.TTF');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'm8';
    src: url($font-base-path+'/font/MYRIADAT.TTF');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'lge';
    src: url($font-base-path+'/font/LeagueSpartan-Bold.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'mrb';
    src: url($font-base-path+'/font/MyriadPro-Bold.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'mrsb';
    src: url($font-base-path+'/font/MyriadPro-Semibold.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ral1';
    src: url($font-base-path+'/font/Raleway-Light.ttf');
    font-weight: normal;
    font-style: normal;
  }