@import './../variables.scss';

@font-face {
  font-family: 'QlassikBoldRegular';
  src: url($font-QlassikBoldRegular-base-path +'.eot');
  src: url($font-QlassikBoldRegular-base-path +'.eot?#iefix') format("embedded-opentype"),
  url($font-QlassikBoldRegular-base-path +'.woff') format("woff"), 
  url($font-QlassikBoldRegular-base-path +'.ttf') format("truetype"), 
  url($font-QlassikBoldRegular-base-path +'.svg#QlassikBoldRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Nob';
  src: url($font-base-path+'/font/nobile.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Helv';
  src: url($font-base-path+'/font/helveticaneueltstd-mdcn.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Helv1';
  src: url($font-base-path+'/font/HelveticaNeueLTStd-Cn.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'myr';
  src: url($font-base-path+'/font/MyriadPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'myr1';
  src: url($font-base-path+'/font/MyriadPro-Light.otf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'myr2';
  src: url($font-base-path+'/font/MyriadPro-Cond.otf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'hhe';
  src: url($font-base-path+'/font/HelveticaNeueLTStd-Cn.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'wal';
  src: url($font-base-path+'/font/Walkway UltraBold.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'rub';
  src: url($font-base-path+'/font/ufonts.com_a_rubricacn_bold.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'mys';
  src: url($font-base-path+'/font/MyriadSetPro-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'mys1';
  src: url($font-base-path+'/font/MyriadSetPro-Thin.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'mys2';
  font-style: normal;
}


@font-face {
  font-family: 'mys5';
  src: url($font-base-path+'/font/MyriadSetPro-UltraLight.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'sag';
  src: url($font-base-path+'/font/spaceage.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'm1';
  src: url($font-base-path+'/font/MYRIAABI.TTF');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'm2';
  src: url($font-base-path+'/font/MYRIAAMI.TTF');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'm3';
  src: url($font-base-path+'/font/MYRIAASI.TTF');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'm4';
  src: url($font-base-path+'/font/MYRIAATI.TTF');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'm5';
  src: url($font-base-path+'/font/MYRIADAB.TTF');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'm6';
  src: url($font-base-path+'/font/MYRIADAM.TTF');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'm7';
  src: url($font-base-path+'/font/MYRIADAS.TTF');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'm8';
  src: url($font-base-path+'/font/MYRIADAT.TTF');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'lge';
  src: url($font-base-path+'/font/LeagueSpartan-Bold.otf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'mrb';
  src: url($font-base-path+'/font/MyriadPro-Bold.otf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'mrsb';
  src: url($font-base-path+'/font/MyriadPro-Semibold.otf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ral1';
  src: url($font-base-path+'/font/Raleway-Light.ttf');
  font-weight: normal;
  font-style: normal;
}


body, html {
  height: 100%;
}

body {
  margin: 0px;
  background: #f1f3f6 url() top center;
}

.container {
  max-width: 1600px;
  height: auto;
  margin: 0px auto;
}

.header {
  background-color: #ea4335;
  width: 100%;
  height: 56px;
  padding: 0px;
  margin: 0px;
  position: fixed;
  float: left;
  z-index: 200;
}

.content {
  max-width: 1172px;
  height: auto;
  margin: 0px auto;
}

.logo {
  width: 92px;
  height: 56px;
  padding: 0px;
  margin: 0px;
  float: left;
}

.lin {
  background-color: #e0e0e0;
  width: 100%;
  height: 1px;
  padding: 0xp;
  margin: 0px;
  margin-top: 30px;
  float: left;
  opacity: .5;
}

.cop {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  text-align: center;
  float: left;
  p {
    color: #666666;
    font-family: 'myr1',Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/*==========================================================================*/

.pbody {
  width: 100%;
  height: auto;
  padding: 0px;
  float: left;
}

.check {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  padding-top: 100px;
  float: left;
}

.checkleft {
  width: 70%;
  height: auto;
  padding: 0px;
  padding-left: 190px;
  float: left;
}

.phase1 {
  background-color: #FFFFFF;
  border-radius: 3px;
  width: 100%;
  height: 450px;
  float: left;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

/*LOGIN FORM STYLE*/

.login-head {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  padding: 40px 35px 0px;
  letter-spacing: 1px;
  font-weight: bold;
}

.login-text {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  padding: 15px 35px;
  color: #ffffff;
}

.login-box {
  background-color: #ea4335;
  width: 100%;
  height: 36px;
  border-radius: 2px;
  float: left;
}

.col1 {
  width: 40%;
  float: left;
  height: 450px;
  background-color: #ea4335;
  border-radius: 3px 0px 0px 3px;
}

.col2 {
  width: 50%;
  float: left;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

.col3 {
  width: 100%;
  float: left;
  background-color: blue;
}

.butt1 {
  color: #FFFFFF;
  /*font-family:'lge',Arial, Helvetica, sans-serif;*/
  font-family: Helvetica;
  font-size: 18px;
  background-color: #C62249;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 3px;
  margin-top: 9px;
  float: left;
  box-shadow: #C4C4C4 1px 1px 2px;
  outline: none;
  &:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    box-shadow: #C4C4C4 1px 3px 6px;
  }
}

.butt2 {
  color: #1E1E1E;
  /*font-family:'lge',Arial, Helvetica, sans-serif;*/
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: white;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 3px;
  margin-top: 9px;
  float: left;
  box-shadow: #C4C4C4 1px 1px 2px;
  outline: none;
  &:hover {
    color: #000000;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    box-shadow: #C4C4C4 1px 3px 6px;
  }
}

.txtt {
  color: #676767;
  font-family: 'myr1',Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: .5px;
  height: 100%;
  width: 100%;
  border: none;
  float: left;
  outline: none;
  border-bottom: solid 1px grey;
  &:focus {
    border-bottom: solid 1.5px #ea4335;
    animation: line .3s ease;
  }
}

.graphic1 {
  padding-top: 150px;
  padding-left: 35px;
}

/*===============MEDIA SCREEN FOR LARGER DESKTOP 1250px====================*/
@media (max-width: 1250px) {
  .checkleft {
    width: 79%;
    height: auto;
    padding: 0px;
    padding-left: 110px;
    float: left;
  }
}

/*===============MEDIA SCREEN FOR  DESKTOP 900px====================*/
@media (max-width: 900px) {
  .checkleft {
    width: 82%;
    height: auto;
    padding: 0px;
    padding-left: 70px;
    float: left;
  }
}

/*===============MEDIA SCREEN FOR  TABLET 800px====================*/
@media (max-width: 800px) {
  .checkleft {
    width: 97%;
    height: auto;
    padding: 0px;
    padding-left: 10px;
    float: left;
  }
}

/*===============MEDIA SCREEN FOR  TABLET 650px====================*/
@media (max-width: 650px) {
  .checkleft {
    width: 80%;
    height: auto;
    padding: 0px;
    padding-left: 10px;
    float: left;
  }
  .phase1 {
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 100%;
    height: 450px;
    float: left;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    margin-left: 30px;
  }
  .col1 {
    width: 100%;
    float: left;
    height: 50px;
    background-color: #ea4335;
    border-radius: 3px 3px 0px 0px;
  }
  .col2 {
    width: 100%;
    float: left;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
  }
  .login-head {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 10px 0px 0px 0px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
  }
  .login-text {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    padding: 15px 35px;
    color: #ffffff;
    display: none;
  }
  .graphic1 {
    display: none;
  }
  .butt1 {
    color: #FFFFFF;
    /*font-family:'lge',Arial, Helvetica, sans-serif;*/
    font-family: Helvetica;
    font-size: 18px;
    background-color: #C62249;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 3px;
    margin-top: 9px;
    float: left;
    box-shadow: #C4C4C4 1px 1px 2px;
    outline: none;
    margin-left: 15px;
  }
  .butt2 {
    color: #1E1E1E;
    /*font-family:'lge',Arial, Helvetica, sans-serif;*/
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: white;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 3px;
    margin-top: 9px;
    float: left;
    box-shadow: #C4C4C4 1px 1px 2px;
    outline: none;
    margin-left: 15px;
  }
  .txtt {
    color: #676767;
    font-family: 'myr1',Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: .5px;
    height: 100%;
    width: 100%;
    border: none;
    float: left;
    outline: none;
    border-bottom: solid 1px grey;
  }
  .login-box {
    background-color: #ea4335;
    width: 80%;
    height: 36px;
    border-radius: 2px;
    float: left;
    margin-left: 15px;
  }
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

b, strong {
  font-weight: 700;
}