body{
    margin: 0;
    padding: 0;
}
.header{
    background: #ea4335;
    width: 100%;
    height: 56px;
    padding: 0;
    margin: 0;
    position: fixed;
    float: left;
    z-index: 200;
}
.content{
    max-width: 1100px;
    height: auto;
    margin:  0px auto; 
    
}
.searchsec{
    width: 500px;
    padding:0;
    height: 56px;
    margin-left: 30px;
    float: left; 
    margin: 0;
    padding: 0;
}
.search{
    background-color: #ffffff;
    width: 100%;
    height: 36px;
    border-radius: 2px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
}
.search input{
    width: 86%;
}
.txtt{
    color: #676767;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    letter-spacing: .5px;
    height: 30px;
    border:none;
    padding: 0px;
    margin-left: 20px;
    margin-top:3px;
    float: left;
}
.sub{
    width: 40px;
    height: 36px;
    border-left-color: #e4e4e4;
    border-left-style: solid;
    border-left-width: thin;
    padding: 0px;
    margin: 0px;
    float: right;
}

.misc{
 width: auto;
 height: 50px;
 padding: 0px;
 margin: 0px;
 float: right;
    
}
.logo{
    float: left;
    margin-right: 20px;   
}
.misc table{
    float: right;
    cursor: pointer;
    margin-left: 20px;
}
.misc table a{
    margin-left: 20px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #e4e4e4;
}

.menu{
    position: relative;
    width: 100%;
    height: 45px;
    padding: 0px;
    margin-top: 57px;
    float: left;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
}
.men{
    cursor: pointer;
    width: 12.5%;
    height: 45px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    float: left;
    
}
.men a{
    color: #212121;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 45px;
    padding: 0px;
    margin: 0px;
}
.content{
    max-width: 1185px;
    height: auto;
    margin: 0px auto;
}
.submenu{
    position: absolute;
    width: 90%;
    height: 500px;
    top: 100px;
    left: 5%;
    border-radius: 1px;
    z-index: 500;
    box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.2);
}
.sec1{
    
    width: 20%;
    height: 500px;
    padding: 0px;
    margin: 0px;
    float: left;
}
// .sec1head{
//     // color: #0000;
//     // width: 100%;
//     // // height: auto;
//     // // // padding-top: 0px;
//     // // // margin: 0px;
//     // // // float: left;
// }
.sec1head p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    margin-left: 25px;
    margin-top: 10PX;
    float: left;
    color: #212121;
}
.sec1body{
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    float: left;

}
.link{
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    float: left;
}
.link p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    margin-left: 25px;
    margin-top: 10px;
    float: left;
    color: #212121;
}

.sec2{
    width: 20%;
    height: 500px;
    padding: 0px;
    margin: 0px;
    float: left;
}
.sec3{
    width: 20%;
    height: 500px;
    padding: 0px;
    margin: 0px;
    float: left;
}
.sec4{
    width: 20%;
    height: 500px;
    padding: 0px;
    margin: 0px;
    float: left;
}
.sec5{
    width: 20%;
    height: 500px;
    padding: 0px;
    margin: 0px;
    float: left;
}